<h1>Edit my task</h1>

<div class="info-container">
<%= form_for(@task) do |f|%>
<div class="form-group">
  <%= f.label :title%>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :details %>
  <%= f.text_area :details, class: "form-control" %>
</div>
<div class="form-group checkbox-group">
  <%= f.check_box :completed, class: "checkbox" %>
  <%= f.label :completed%>
</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to task_path(@task) do %>
    <i class="fas fa-undo"></i>
  Back to the task
<% end %>
